.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.logo-container {
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
}
.spec-button {
    width: 110px;
    height: 80px;
    border-radius: 25px;
}
.num-button {
    width: 110px;
    height: 80px;
    border-radius: 25px;
}
.op-button {
    width: 110px;
    height: 80px;
    border-radius: 25px;
}
.App {
    margin-left: 25px;
}
.left-buttons {
    width: 337.5px;
}
.right-buttons {
    width: 112.5px;
}
.button-wrapper {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    width: 450px;
}